@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar{
width: 0.4rem;
}

::-webkit-scrollbar-track{
  /* background-color: var(--black); */
  background: white;
}
::-webkit-scrollbar-thumb{
  background-color: #656565;
  border-radius: 1rem;
  border: 0.5rem solid transparent;
  /* background-clip: content-box; */
}


/* HEADER PART */

#header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Header TOP */

#headerTop{
    display: flex;
    margin: auto;
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 38px;
    background-color: #fee8e8;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 500;

    
    
}

#headerTop>div:nth-child(1){
   display: flex;
   margin-left: 16px;

    
}
#headerTop>div:nth-child(1)>p{
  padding-top: 6px;
  padding-left: 5px;
  font-size: 12px;
  /* border: 1px solid green; */
}
#headerTop>div:nth-child(1)>img{
  width: 20px;
  padding-top: 5px;
  /* border: 1px solid navy; */
}
#headerTopSpan{
  margin-left: 28px;
  color: #ff9797;
  font-weight: 800;
  font-size: 12px;
  /* border: 1px solid blue; */
}

#headerTop>div:nth-child(2){
    display: flex;
    margin-right: 16px;
    /* border: 1px solid red; */
    
}
#headerTop>div:nth-child(2)>p{
  padding-top: 6px;
  padding-left: 5px;
  font-size: 12px;
  /* border: 1px solid red; */
}
#headerTop>div:nth-child(2)>img{
  width: 20px;
  padding-top: 4px;
  /* border: 1px solid navy; */
}



/* Header Bottom */

#headerBottom{
    /* border: 1px solid blue; */
    display: flex;
    width: 96%;
    margin: auto;
    height: 70px;
    padding-top: 10px;
    justify-content: space-between;
}

#logo{
    width: 12%;
    margin: 0px 50px auto 0px;
    /* margin-left: 10px; */
    /* border: 1px solid blue; */
}
#logo>img{
    width: 100%;
    display: block;
}


#search{
    position: absolute;
    width: 50%;
    height: 45px;
    padding-left: 15px;
    background-color: #F5F5F6;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    /* box-shadow:  */
    

}
#search input {
    /* styling for the placeholder text */
    width: 94%;
    color: #999;
    float: right;
    height: 30px;
    margin-top: 5px;
    padding-left: 1%;
    border:none;
    outline-width: 0;
    font-size: 18px;
    font-weight: 450;
    background-color: #fafafa;
    
  }
 #search>i{
    width: 6%;
    margin-top: 9px;
    /* padding-left: 4%; */
    font-size: 22px;
    color: #a9acb7;
    /* border: 1px solid red; */
    /* background-color: black; */
  }

  #cartLogin{
        margin: 0px 0px 0px auto;
  }

  #cartLogin>img:nth-child(1){
    width: 30px;
    padding-bottom: 4px;
  }
  #cartLogin>img:nth-child(2){
    width: 36px;
   margin-top: 4px;
  }
 
  
#user{
  border: none;
  background-color: white;
}
  #user>img{
    width: 30px;
    padding-bottom: 4px;
  }




  /*All page nav BAR */

#nav{
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 4%;
  padding-right: 8%;
  height: 38px;
  /* border: 1px solid red; */
}

.menu{
display: flex;
width: 96%;
margin: auto;
justify-content: space-between;
}
.menu a{
text-decoration: none;
color: black;
}
.mega-menu{
 padding: 0px 15px 1px 15px;
 font-weight: 600;
 font-size: small; 
 /* margin-bottom: 2px; */
/* border: 1px solid blue; */
}
.wrapper{
  display: none;
  
}
.mega-menu:hover{
  /* color: #ff9b9b; */
  
  border-bottom: 2px solid hsl(0, 100%, 80%);
}
.mega-menu:hover .wrapper{
 display: inline-flex;
 position: absolute;
 width: 90%;
 left: 4.5%;
 margin-top: 5px;
 padding-left: 20px;
 /* border: 1px solid red; */
 background-color: white;

}

.sub-menu{

  margin-top: 20px;
  margin-right: 60px;
  padding-bottom: 10px;
  /* border: 1px solid greenyellow; */
}
.sub-menu>span{
  margin-bottom: 2%;
  color: #ffa1a1;
  font-weight: 700;
}
.sub-menu>span:hover{
  color: black;
  cursor: pointer;
  
}
.sub-menu>p{
  line-height: 26px;
}
.comboAcce{
  margin-top: 15px;
  margin-bottom: 15px;
}
.comboAcce>span{
  color: #ffa1a1;
  font-weight: 700;
}
.comboAcce>span:hover{
  color: black;
  cursor: pointer;
  
}
.comboAcce>p{
  line-height: 26px;
}
.wrapper>.sub-menu>p>a:hover{
  border-width: 2px;
}

.wrapper>.sub-menu>p>a{
  border-bottom: 0px solid #ff9f9f;
  transition: border-width 0.3s ease-in-out;
}


/* NAV BAR COMPLEATE */


/*Homepage Banner1 Advertisement */
  #banner1{
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 9px;
    /* border: 1px solid blue; */
  }
  #banner1>img{
    display: block;
    width: 100%;
  }

  /* Homepage Banner2 Sliding */
  #banner2{
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 9px;
    /* border: 1px solid blue; */
  }
  #banner2>img{
    display: block;
    width: 100%;
  }

/* Makeup-Page  */
  #sectionTop>h1{
    text-align: center;
    margin-bottom: 20px;
  }

  #SectionTopContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    /* gap: 5px; */
    margin: auto;
    /* border: 1px solid red; */
    
  }
  #SectionTopContainer>div{
    width: 90%;
    height: 426px;
    margin: auto;
    margin-bottom: 15%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    text-align: left;
    border: 1px solid #e0e0e0;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid red; */
    
  }

  #SectionTopContainer>div>img{
    width: 100%;
    overflow: hidden;
    
    
  }
  #SectionTopContainer>div>img:hover{
    transform: scale3d(1.05,1.05,1.05);
    transition: .3s ease-in-out;
  }
 
  #SectionTopContainer>div>h3{
    
    font-weight: 550;
    /* border: solid 1px blue; */
  }
  #SectionTopContainer>div>h4{
    /* color: #737373; */
    color: black;
    font-weight: 300;
    font-size: 10px;
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /* border: solid 1px blue; */
  }


/* Footer Part */



#footerTop{
  display: flex;
  width: 96%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 18px;
  /* border: 1px solid green; */
}
#footerTop>div{
  /* width: 40%; */
  /* border: 1px solid red; */
}
#footerTop>div>h4{
  color: #bfbab8;
  font-size: 14px;
  /* font-weight: 700; */
  margin-bottom: 8px;
}
#footerTop>div ul {
    list-style-type: none;
    
    /* border: 1px solid blue; */
}
#footerTop>div ul li {
  color: black;
 font-size: small;
 font-weight: 500;
 line-height: 24px;
 
}
#footerTop>div ul li:hover{
  color: #ff9f9f ;
  cursor: pointer;
}


#footerBottom{
display: flex;
width: 76%;
margin: auto;
border: 3px solid green;
margin-bottom: 50px;
}

#connected>img{
width: 20px;
height: 20px;
}
#end1{
  width: 70%;
  margin: auto;
  margin-right: 20px;
  border: 3px solid cyan;

}
#SUBSCRIBE{
  display: flex;
  flex-direction: row;
  height: 30px;
  margin: auto;
  border: 1px solid red;
}
#connected{
margin: auto;
border: 1px solid red;
}
#end1>h5{
  margin-bottom: 10px;
  font-weight: 500;
}


#end2{
  display: block;
  margin: auto;
  border: 1px solid red;
}
